
@{
    ViewBag.Title = "Crear Indicador";
}
<script>
    function validaciones(){
        var nombre = $("#nombre").val();
        var formula = $("#formula").val();
        if (nombre === "" || formula === "") {
            bootbox.alert("Complete todos los campos.");
        }
        else if (formula.indexOf(nombre) !== -1) {
            bootbox.alert("La formula no puede ser recursiva.");
        }
        else {
            $("form").submit();
        }

    }
</script>

<style>
    .modal-dialog {
        margin-left: -200px;
    }
</style>

<h2>Crear Indicador</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("Create", "Indicadores", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group"><label>Nombre </label><input type="text" name="Nombre" placeholder="Nombre" id="nombre" class="form-control" required /> </div>     

        <div class="form-group"><label>Formula</label><input type="text" name="Formula" placeholder="Formula" id="formula" class="form-control" required /> </div>
        <ul style="color:orange">
            <li>La formula a ingresar acepta las operaciones +,-,/ y * </li>
            <li>Para Cuentas e Indicadores, debe ingresar la cadena de caracteres correspondiente (Sin espacios ni numeros)</li>
            <li>Se permite el ingreso de parentesis en la expresión de la formula</li>
            <li>Ejemplo: EBITDA * (3+ROE) siendo ROE un indicador y EBITDA una cuenta</li>
        </ul>
        <div class="form-group"> <input type="button" class="btn btn-primary" value="Guardar" onclick="javascript:validaciones()" /></div>
    </div>

}

