
@{
    ViewBag.Title = "Crear Indicador";
}

<h2>Crear Indicador</h2>
@using (Html.BeginForm("Create","Indicadores",FormMethod.Post)){ 
    <div class="form-horizontal">
        <div class="form-group"><input type="text" name="Nombre" placeholder="Nombre"  class="form-control" /> </div>
        <div class="form-group"><input type="text" name="Formula" placeholder="Formula" class="form-control"/> </div>
        <div class="form-group"> <input type="submit" value="Guardar" /></div>
    </div>
     
}

