@model List<TpIntegradorDiuj.Models.Metodologia>
@{
    ViewBag.Title = "Metodologias";
}

<div class="col-md-5 row" style="margin-top:10px">
    <a class="btn btn-primary" href="@Url.Action("Create")">Crear Metolodiga</a>
</div>
<h2>Metodologias</h2>

<table id="tabla" class="dataTable table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Condiciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>
                    <ul>
                        @foreach (var elem in item.Condiciones)
                        {
                            <li>@elem.Descripcion</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

