@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP Integrador - Diseño de Sistemas</h1>
    <p class="lead">Integrantes:</p>
    <ul>
        <li>Julian Molina</li>
        <li>Dario Nahuel Fabricio Da Silva Sobrino</li>
        <li>Ivan Daniel Gomez Yaury</li>
        <li>Uri Lukacher</li>
        <li>Carolina Baldino</li>
        <!--<li>Joaquín Sinopoli</li>-->
    </ul>
</div>

<h2>@ViewBag.Mensaje</h2>
