@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP Integrador - Diseño de Sistemas</h1>
    <img style="height:300px; width:400px" class="col-md-5"  src="https://cdn3.iconfinder.com/data/icons/personal-business-finance-2/380/Growth_Investing-512.png" />

    @*<div class="col-md-6">*@
        <label>Integrantes:</label>
        <ul>
            <li>Julian Molina</li>
            <li>Dario Nahuel Fabricio Da Silva Sobrino</li>
            <li>Ivan Daniel Gomez Yaury</li>
            <li>Uri Lukacher</li>
            <li>Carolina Baldino</li>
            <!--<li>Joaquín Sinopoli</li>-->
        </ul>
    @*</div>*@
   
</div>

<h2>@ViewBag.Mensaje</h2>
